version: "3.9"

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Qamza
      POSTGRES_DB: aquaglow_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - postgres
    ports:
      - "8000:8000"
    env_file:
      - backend/.env

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"

volumes:
  pgdata: